<%= link_to "Add Image", new_image_path, class: 'btn-add' %>
<ul class="preview">
  <% @images.each do |image| %>
      <div class="card">
        <li><%= link_to image_tag(image.url, :class => "thumbnail"), image_path(image) %></li>
        <li><%= image.title %></li>
        <li><%= image.author %></li>
        <li>Likes: <%= image.likes %></li>
        <li><%= link_to "Like Image", like_image_path(id: image.id), class: 'like' %></li>
      </div>
  <% end %>
</ul>
